# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Misc
.DS_Store
*.pem
*.key
*.bak
*.log

# Environment variables
.env
.env.local
.env.*.local

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Docker
.docker
docker-compose.override.yml

# Project specifics
*.db
*.sqlite
FETCH_HEAD
